<div id="new_session">
<form action="/sessions" method="post"><br>
	<input type="text" placeholder="email" name="email"><br>
	<input type="password" placeholder="password" name="password"><br>
	<input type="submit" value="Login">
</form><br>
<form action="/users/new" method="get">
	<input type="submit" value="new user">
</form>
</div>