<form action="/sessions" method="post">
	<input type="text" placeholder="email" name="email">
	<input type="password" placeholder="password" name="password">
	<input type="submit" value="Login">
</form>
<form action="/users/new" method="get">
	<input type="submit" value="new user">
</form>