<div class="row">
	<div class="col-md-2 col-xs-2">
		<a>Login</a>
		<p>email</p>
		<p>password</p>
		<p>submit</p>
	</div>

	<div class="col-md-2 col-md-offset-3 col-xs-2 col-xs-offset-3">
		<div>Level: 1</div>
		<button class="level_button">Increase Level</button>
		<button class="level_button">Decrease Level</button>
	</div>

	<div class="col-md-1 col-md-offset-4 col-xs-1 col-xs-offset-4">
		<a>Top Scores</a>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
		<h1>Dual-n-back</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>Score: 0</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
		<div id="main" class="main">main</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3">
		<div id="sound_button" class="button">sound</div>
	</div>

	<div class="col-md-3 col-xs-3">
		<div id="visual_button" class="button">visual</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          Collapsible Group Item #1
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse">
		      <div class="panel-body">
		        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		      </div>
		    </div>
		  </div>
		</div>

	</div>
</div>
