// Place all the styles related to the dual_n_back controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	border: 1px solid black;
}

body {
	text-align: center;
}

.level_button {
	display: inline;
	font-family: cursive;
}

.main {
	width: 100%;
	border: 10px solid blue;
	border-radius: 100%;
}

.button {
	width: 100%;
	border: 10px solid blue;
	border-radius: 100%;
}