*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body  {
	background: #1abc9c;
}

#game {
	text-align: center;
	margin: 0 auto;
	background-color: #1abc9c;
	height: 100%;
	padding-top: 0;
}

#game #game_title {
	color: white;
	background-color: #1abc9c;
	padding: 5px;
	font-family: Gorditas;
}

#game #score {
	color: white;
	background-color: #1abc9c;
	padding: 5px;
	font-family: Gorditas;
}

#game #main_button {
	margin: 15px auto 5px auto;
	width: 100%;
	height: 500px;
	border-radius: 100%;
	background-color: #fff;
	border: 4px solid black;
	background-image: url(background.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#game #main_button #main_image {
	width: 80%;
	-webkit-transform: translateY(10%);
	transform: translateY(10%);
}

#game #audio_button {
	display: inline-block;
	width: 240px;
	height: 240px;
	border-radius: 100%;
	background-color: #fff;
	border: 4px solid black;
	margin: 0 5px 5px 0;
	background-image: url(ear.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}

#game #visual_button {
	display: inline-block;
	width: 240px;
	height: 240px;
	border-radius: 100%;
	background-color: #fff;
	border: 4px solid black;
	margin: 0 0 5px 5px;
	background-image: url(eye-icon.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}