// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top_scores {
	text-align: center;
	margin: 0 auto;
}

#your_scores {
	text-align: center;
	margin: 0 auto;
}

table {
  width:500px;
  margin: 10px auto;
}